.modal {
  background-color: #0000004d;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  position: fixed;
}

.modal__content {
  border-radius: 16px;
  background-color: white;
  position: relative;
  /* overflow: hidden; */
}
.modal__close {
  position: absolute;
}

.modal__image {
  max-width: 100%; /* Ensure image does not overflow */
  max-height: 60vh;
  border-radius: 16px;
  object-fit: contain;
}

.modal__footer {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin: 20px 32px 32px 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.modal__footer-2 {
  display: flex;
  justify-content: space-between;
}

.modal__caption {
  margin: 0 0 12px 0;
}
.modal__delete {
  color: #ff4d00;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
}
.modal__weather {
  margin: 0;
}
