.footer {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 35px 0;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f3f3;
}

.footer__copyright {
  margin: 0;
}

.footer__year {
  margin: 0;
}
